//
//  Config.xcconfig
//  SpotifyClone
//
//  Created by Sen Lin on 11/2/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// https://www.appcoda.com/xcconfig-guide/

CLIENT_ID = 2f7ae715677d4329a111ad5ebe51f2a0
CLIENT_SECRET = 6998f3de102847e18d0ecee8d407dfe1
